.screen1 {
    border: 1px solid red;
    background-color: red;
    text-align: center !important;
}

.screen2 {
    border: solid 1px lightblue;
    background: lightblue;
}
.screen3 {
    border: 1px solid lightgray;
    background-color: antiquewhite;
}
.screen4 {
    border: 1px solid;
    background-color: aqua;
}
