<div class="container">
  <div class="screen1">
     <h3 style="color:white;text-align:center;">TUBERCULOSIS SCREENING TOOL<br><span style="color:blue;font-size: smaller;text-align: center;">AND RISK QUESTIONNAIRE</span></h3>
   </div>
   <div class="screen2">
    <div class="row" style="margin-top: 15px;">
      <div class="col-sm-4">
          <label for="">DATE</label>
          <input type="text"  id="date">
        </div>
        <div class="col-sm-8">
          <label for="">FACULTY NAME</label>
          <input type="text"  id="faculty">
        </div>
      </div>
    
    
    
    <div class="row">
      <div class="col-sm-4">
          <label for="">DISTRICT</label>
          <input type="text" class="form-control" id="faculty">
        </div>
        <div class="col-sm-4">
          <label for="">SUB-DISTRICT</label>
          <input type="text" class="form-control" id="faculty">
        </div>
        <div class="col-sm-4">
          <label for="">PROVINCE</label>
          <input type="text" class="form-control" id="faculty">
        </div>
      </div>
    <div class="row">
      <div class="col-sm-6">
        <label for="">PATIENT CONTACT NO</label>
        <input type="text" class="form-control" id="faculty">
      </div>
      <div class="col-sm-6">
        <label for="">PATIENT NO</label>
        <input type="text" class="form-control" id="faculty">
      </div>
    </div>
    <div class="row" style="margin-top: 15px;">
      <div class="col-sm-4"><label for="">PATIENT NAME AND SURNAME</label></div>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="date">
      </div>
      
    </div>
  </div>
  <div style="text-align: right">
    <button class="btn btn-primary">yes</button>
    <button class="btn btn-danger">no</button>

  </div>
  </div>
  <div class="container">
    <div><p class="screen3">1.Has the patient been coughing for two weeks or more?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="optradio"><input type="radio" name="optradio"></p>
    <p>2.Has the patient recently coughed blood in the sputum?<input type="radio" name="optradio"><input type="radio" name="optradio"></p>
    <p class="screen3">3.Has the patient experienced loss of appetite?<input type="radio" name="optradio"><input type="radio" name="optradio"></p>
    <p>4.Has the patient lost weight of more than 3kg in the past four weeks?<input type="radio" name="optradio"><input type="radio" name="optradio"></p>
    <p class="screen3">5.Has the patient been sweating unusually at night?<input type="radio" name="optradio"><input type="radio" name="optradio"></p>
    <p>6.Has the patient had recurrent fever /chills lasting more than three days?<input type="radio" name="optradio"><input type="radio" name="optradio"></p>
    <P class="screen3">7.Has the patient experienced chest pains, fast breathing and/or difficulty in breathing?<input type="radio" name="optradio"><input type="radio" name="optradio"></P>
    <P>8.Does the patient have swellings in the neck, armpits or elsewhere?<input type="radio" name="optradio"><input type="radio" name="optradio"></P>
    <P>If “Yes” to one or more of the questions, suspect TB, refer for further investigations OR investigate for TB e.g. sputum collection<input type="radio" name="optradio"><input type="radio" name="optradio"></P>
    <h4 class="screen4">COMPLEMENTARY QUESTIONS</h4>
    <p class="screen3">9.i) Has the  patient been treated for Tuberculosis?<input type="radio" name="optradio"><input type="radio" name="optradio"></p>
    <p>&nbsp;&nbsp;ii) When was the patient treated for Tuberculosis?<input type="radio" name="optradio"><input type="radio" name="optradio"></p>
    <P class="screen3">10.Was TB treatment completed?<input type="radio" name="optradio"><input type="radio" name="optradio"></P>
    <P >11.Has the patient been in contact with someone diagnosed with Tuberculosis in the past
      year, e.g. same house hold or at work?<input type="radio" name="optradio"><input type="radio" name="optradio"></P>
    <P>If “No” to all questions, patient is not a TB suspect. Repeat the screening in 3-6 months time.<input type="radio" name="optradio"><input type="radio" name="optradio"></P> 
   </div>
  

