<div class="container patient">
    <h4>Patient</h4>
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <label>SA ID</label>
            <input type="text" class="form-control" 
            required minlength="5">
            <label>Middle Name</label>
            <input type="text" class="form-control" 
            name="id"required minlength="5">
        </div>
        <div class="col-sm-6 col-md-6">
            <label >First Name</label>
            <input type="text" class="form-control" 
            name="id"  required minlength="5">
            <label>Last Name</label>
            <input type="text" class="form-control" 
            name="id"  required minlength="5">
        </div>
        <div class="button">
          <button class="btn-primary">Search</button>
        </div>
    </div>
</div>

<!--table-->
<div class="container table-border">
       
  <table class="table table-bordered table-hover ">
    <thead>
      <tr class="success">
        <th></th>
        <th>SA ID</th>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="radio" name="gender" value="cell1" checked><br></td>
        <td>Cell Content 1</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><input type="radio" name="gender" value="male"><br></td>
        <td>Cell Content 1</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
       <td><input type="radio" name="gender" value="male"></td>
        <td>Cell Content 1</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

