.button {
    text-align: center !important;
    margin-top: 10px;
}
.patient {
    border: 1px solid; 
    height:209px;
}

.table-border {
    margin-top: 19px;
    border: 1px solid;
    padding-top: 15px;
}
