<form >
    
    <div class="container patient">
        <h4>Patient</h4>
        <div class="row">
           <div class="col-sm-6 col-md-6">
                <label>SA ID</label>
                <input type="text" class="form-control" 
                required minlength="5">
                <label>Middle Name</label>
                <input type="text" class="form-control" 
                name="id"required minlength="5">
            </div>
            <div class="col-sm-6 col-md-6">
                <label >First Name</label>
                <input type="text" class="form-control" 
                name="id"  required minlength="5">
                <label>Last Name</label>
                <input type="text" class="form-control" 
                name="id"  required minlength="5">
            </div>
        </div>
    </div>
    <div class="container address">
        <h4>Address</h4>
        <div class="row">
                    
            <div class="col-sm-6 col-md-6">
                <label>Address Line1</label>
                <input type="text" class="form-control" 
                required minlength="5">
                <label>Address Line3</label>
                <input type="text" class="form-control" 
                name="id"required minlength="5">
                <label>District</label>
                <input type="text" class="form-control" 
                name="id"required minlength="5">
                <label>Postcal Code</label>
                <input type="text" class="form-control" 
                name="id"required minlength="5">
                
            </div>
            <div class="col-sm-6 col-md-6">
                <label >Address Line2</label>
                <input type="text" class="form-control" 
                name="id"  required minlength="5">
                <label>Suburb</label>
                <input type="text" class="form-control" 
                name="id"  required minlength="5">
                <label>Province</label>
                <select class="dropdown">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>
                </select>
            </div>
        </div>
    </div>
     <div class="container contact">
        <h4>Contact Detail</h4>
        <div class="row">
                    
            <div class="col-sm-6 col-md-6">
                <label>Mobile Number</label>
                <input type="text" class="form-control" 
                required minlength="5">
            </div>
            <div class="col-sm-6 col-md-6">
                <label>Email</label>
                <input type="text" class="form-control" 
                name="id"  required minlength="5">
            </div>
        </div>
    </div>
    <div class="button">
        <button class="btn btn-success" type="submit">Submit</button>
        <button class="btn btn-danger" type="submit">Cancel</button>
    </div>
</form>

